.qv-rebrand2018 .composite .qv-object-header, .qv-rebrand2018 .qv-object-composite .qv-object-header{
    border-bottom: 0px solid #f2f2f2;
}

.zoom .qv-object-header.thin {
    height: 0px!important;
}
.composite .qv-inner-object, .sheet-list #grid .cell-content .qv-object-composite .qv-object {
    background-color: rgb(255,255,255,0) !important;
}
.qv-object-composite div.viz-with-export {
   height: calc(100% - 37.99px);
   height: -o-calc(100% - 37.99px);
   height: -webkit-calc(100% - 37.99px);
   height: -moz-calc(100% - 37.99px);
   width: 100%;
 }
 .qv-object-composite .qv-object-content{
  overflow: hidden;
 }
.mask{
  z-index: 1000;
  border: 2px dashed #828282;
}
.qv-object-composite div.viz-without-export {
  position: absolute;
  width: 150px;
  height: 150px;
}

.qv-object-composite article.qv-object:not(.qv-selections-active) {
  border: 0  !important;
}

.qv-object-composite div.qv-inner-object {
  padding: 0px !important;
  overflow: visible;
}
.qv-mode-edit .qv-object-composite div.qv-inner-object {
  overflow: hidden;
}

.qv-object-composite .composite {
  height: 100%;
  width: 100%;
}

.qv-object-composite .interaction-block {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: 10;
}
